body {
  padding-top: 40px;
}

.welcome {
  font-size: 18px;
  display: inline;
  padding: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;

}

table, th, td {
    border: 1px solid black;
    padding: 10px 10px 10px 10px;

}
.bold {
	font-weight: bold;	
}

.button-color {
    color: #fff;
    background-color: #9999ff;
    border-color: #9999ff;
}